### Join Function

In [ ]:
import pandas as pd

var1 = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]})

var2 = pd.DataFrame({
    'C': [10, 20, 30],
    'D': [44, 55, 66]})

var1.join(var2)

   A  B   C   D
0  1  4  10  44
1  2  5  20  55
2  3  6  30  66

In [5]:
var1.join(var2, how='inner')

   A  B   C   D
0  1  4  10  44
1  2  5  20  55
2  3  6  30  66