### Merge Function

In [ ]:
import pandas as pd

var1 = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})

var2 = pd.DataFrame({"A": [1, 2, 3], "C": [10, 11, 12]})
pd.merge(var1, var2, on="A") # Merge on column 'A' so that on="A" is specified
# This will merge the two DataFrames on the column 'A', resulting in a DataFrame

   A  B   C
0  1  4  10
1  2  5  11
2  3  6  12

In [ ]:
var3 = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})

var4 = pd.DataFrame({"A": [1, 2, 4], "C": [10, 11, 12]})
# pd.merge(var3, var4, how= "left")
# pd.merge(var3, var4, how= "right")
pd.merge(var3, var4, how= "outer", indicator=True, )

   A    B     C      _merge
0  1  4.0  10.0        both
1  2  5.0  11.0        both
2  3  6.0   NaN   left_only
3  4  NaN  12.0  right_only

In [10]:
var5 = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})

var6 = pd.DataFrame({"A": [1, 2, 4], "B": [10, 11, 12]})
pd.merge(var5, var6, left_index=True, right_index=True, suffixes=("no.","point"))
# pd.merge(var5, var6, left_index=True, right_index=True, how="outer", indicator=True)

   Ano.  Bno.  Apoint  Bpoint
0     1     4       1      10
1     2     5       2      11
2     3     6       4      12

### Concat Function

In [12]:
sr1 = pd.Series([1,2,3,4])
sr2= pd.Series([11,21,31,41])

pd.concat([sr1, sr2])

0     1
1     2
2     3
3     4
0    11
1    21
2    31
3    41
dtype: int64

In [14]:
d1 = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})

d2 = pd.DataFrame({"A": [1, 2, 4], "B": [10, 11, 12]})

pd.concat([d1, d2],axis=1)

   A  B  A   B
0  1  4  1  10
1  2  5  2  11
2  3  6  4  12

In [20]:
d3 = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})

d4 = pd.DataFrame({"A": [1, 2, 3], "C": [10, 11, 12]})

# pd.concat([d3, d4],axis=1, join="inner")
# pd.concat([d3, d4],axis=1, keys=["d1","d2"])
pd.concat([d3, d4],axis=0, keys=["d1","d2"])

      A    B     C
d1 0  1  4.0   NaN
   1  2  5.0   NaN
   2  3  6.0   NaN
d2 0  1  NaN  10.0
   1  2  NaN  11.0
   2  3  NaN  12.0